//Making our colors reusable in the whole app
$background: #f8f8f8;
$primary: #f4e041;
$secondary: #00bdd3;
$hover: #ffe302;
$black: #000000de;
$text-secondary: #7e7e7e;
$disabled: #b4b4b4;
$error: #cb3d40;
$input-field: #d0cfcf;
$white: #ffffff;
$btn-disabled: #ffffffde;
