.container {
  //Reusable container which will help us with placing our content throughout the whole app
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    & {
      padding: 0 60px;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 0 32px;
    }
  }

  @media (max-width: 480px) {
    & {
      padding: 0 16px;
    }
  }
}
